version: "3.9"

services:
  server:
    build: ./server
    env_file:
      - ./server/.env
    ports:
      - "3000:3000"
    restart: unless-stopped

  client:
    build: ./client
    env_file:
      - ./client/.env
    ports:
      - "5173:5173"
    depends_on:
      - server
    restart: unless-stopped